.navbar-default {
    background-color: #ffffff;
    color: #000000;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-collapse .navbar-item {
    color: #000000;
}

.navbar-brand {
    vertical-align: middle;
}

/* Fixed because of bootstrap */
.navbar-right {
    margin-right: 0;
}

.navbar-form {
    margin: 0;
    padding: 0;
}