.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
    text-align: left;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.slide-image {
    width: auto;
    height: 120px;
    object-fit: cover;
}

.caption-full {
    overflow: auto;
}